/* Credentials Dialog */
.walnut-cred-dialog {
	min-width: 33.34em;
}

.walnut-cred-dialog-icon {
	icon-size: 5.44em;
}

.walnut-cred-dialog-headline {
	text-align: right;
}

.walnut-cred-dialog-description {
	text-align: right;
}

.walnut-cred-dialog-table {
	spacing-rows: 1em;
	spacing-columns: 1em;
}

.walnut-cred-dialog-error-box {
	padding-top: 1em;
	spacing: 0.333em;
}

.walnut-cred-dialog-error-icon {
	icon-size: 1.63em;
}

.walnut-cred-dialog-error-label {
	font-size: 0.818em;
}

/* Delete Device Box */
.walnut-delbox-icon {
	icon-size: 4.35em;
}

.walnut-delbox-icon:ltr {
	padding: 0 0.666em 0 0;
}

.walnut-delbox-icon:rtl {
	padding: 0 0 0 0.666em;
}

.walnut-delbox-desc {
	font-weight: bold;
	padding: 0.333em;
	text-align: right;
}

.walnut-delbox-text {
	padding: 0.333em;
	text-align: right;
}

.walnut-delbox-buttons-box {
	spacing: 0.333em;
	padding: 0.333em;
}

/* Credentials Box */
.walnut-credbox-icon {
	icon-size: 4.35em;
}

.walnut-credbox-icon:ltr {
	padding: 0 0.666em 0 0;
}

.walnut-credbox-icon:rtl {
	padding: 0 0 0 0.666em;
}

.walnut-credbox-desc {
	font-weight: bold;
	padding: 0.333em;
	text-align: right;
}

.walnut-credbox-username {
	max-width: 5.333em;
	padding: 0.333em;
}

.walnut-credbox-userbox {
	width: 5.333em;
}

.walnut-credbox-password {
	max-width: 5.333em;
	padding: 0.333em;
}

.walnut-credbox-pwbox {
	width: 5.333em;
}

.walnut-credbox-buttons-box {
	spacing: 0.333em;
	padding: 0.333em;
}

/* Add Device Box*/
.walnut-addbox-icon {
	icon-size: 4.35em;
}

.walnut-addbox-icon:ltr {
	padding: 0 0.666em 0 0;
}

.walnut-addbox-icon:rtl {
	padding: 0 0 0 0.666em;
}

.walnut-addbox-desc {
	font-weight: bold;
	padding: 0.333em;
	text-align: right;
}

.walnut-addbox-host {
	max-width: 7.33em;
	padding: 0.333em;
}

.walnut-addbox-hostbox {
	width: 7.33em;
}

.walnut-addbox-port {
	max-width: 3.333em;
	padding: 0.333em;
}

.walnut-addbox-portbox {
	width: 3.333em;
}

.walnut-addbox-buttons-box {
	spacing: 0.333em;
	padding: 0.333em;
}

/* Bottom Control Buttons*/
.walnut-bottom-controls-box {
	spacing: 0.666em;
}

/* Buttons */
.walnut-buttons-big > StIcon {
	height: 2.475em;
	icon-size: 2.475em;
	padding: 0;
}

.walnut-buttons-small > StIcon {
	height: 1.1em;
	icon-size: 1.1em;
	padding: 0;
}

.walnut-buttons-big {
	padding: 0.533em;
}

.walnut-buttons-small {
	padding: 0.2em;
}

.walnut-bottom-controls-less-noisy > StIcon {
	padding: .65em;
}

.walnut-buttons-big:hover,
.walnut-buttons-big:focus,
.walnut-buttons-small:hover,
.walnut-buttons-small:focus {
	color: white;
	background-color: #4c4c4c;
	border: 1px solid #4c4c4c;
}

.walnut-buttons-big:active,
.walnut-buttons-small:active {
	color: black;
	background-color: #6f6f6f;
	border: 1px solid #6f6f6f;
}

.walnut-buttons-big:insensitive,
.walnut-buttons-small:insensitive {
	border-color: #666666;
	color: #9f9f9f;
	background-gradient-direction: none;
	background-color: rgba(102, 102, 102, 0.15);
}

/* Setvar */
/* Common */
.walnut-setvar-box {
	padding-left: 1.75em;
	padding-right: 1.75em;
}

.popup-sub-menu:scrolled .walnut-setvar-box:ltr {
	padding-right: 0em;
}

.popup-sub-menu:scrolled .walnut-setvar-box:rtl {
	padding-left: 0em;
}

.walnut-setvar-buttons-box {
	spacing: 0.333em;
}

/* Ranges */
.walnut-setvar-range-value-box {
	padding-top: 0.333em;
	padding-bottom: 0.333em;
}

.walnut-setvar-range-value-box:ltr {
	padding-left: 1.75em;
}

.walnut-setvar-range-value-box:rtl {
	padding-right: 1.75em;
}

.walnut-setvar-range-actual {
	font-weight: bold;
}

.walnut-setvar-range-table {
	padding-right: .5em;
	padding-left: .5em;
}

.popup-sub-menu:scrolled .walnut-setvar-range-table:ltr {
	padding-right: 0em;
}

.popup-sub-menu:scrolled .walnut-setvar-range-table:rtl {
	padding-left: 0em;
}

/* Enums */
.walnut-setvar-enums-chosen {
	font-weight: bold;
}

/* Strings */
.walnut-setvar-string-container {
	padding: .333em;
}

.walnut-setvar-string-container:ltr {
	padding-left: .5em;
}

.walnut-setvar-string-container:rtl {
	padding-right: .5em;
}

.walnut-setvar-string-entry {
	max-width: 8em;
}

.walnut-setvar-string-entry:ltr {
	padding-right: .333em;
}

.walnut-setvar-string-entry:rtl {
	padding-left: .333em;
}

.walnut-setvar-string-error-icon {
	icon-size: 1em;
	padding-left: .333em;
	padding-right: .333em;
}

.walnut-setvar-string-error-text {
	font-size: 0.818em;
}

/* Raw data */
.walnut-raw-data-container {
	spacing: 0em;
	padding-left: 1.75em;
	padding-right: 1.75em;
}

.popup-sub-menu:scrolled .walnut-raw-data-container:ltr {
	padding-right: 0em;
}

.popup-sub-menu:scrolled .walnut-raw-data-container:rtl {
	padding-left: 0em;
}

.walnut-raw-data-expandable:ltr {
	padding-left: 0em;
}

.walnut-raw-data-expandable:rtl {
	padding-right: 0em;
}

.walnut-raw-data-expander {
	width: 1.25em;
	font-weight: bold;
}

.walnut-raw-data-expander {
	padding-left: .5em;
}

/* Device's commands */
.walnut-cmd-extradata {
	width: 5.333em;
	background-color: rgba(0,0,0,0.3);
}

/* Device Data Table (Battery Charge, Backup Time, Device Load, Temperature) */
.walnut-ups-data-table-icon {
	icon-size: 3.3em;
	padding: 0.333em;
}

.walnut-ups-data-table-label {
	text-align: right;
	font-weight: bold;
}

.walnut-ups-data-table-label:ltr {
	padding: 0.467em 0.333em 0 0;
}

.walnut-ups-data-table-label:rtl {
	padding: 0.467em 0 0 0.333em;
}

.walnut-ups-data-table-text {
	text-align: right;
}

.walnut-ups-data-table-text:ltr {
	padding: 0 0.333em 0.467em 0;
}

.walnut-ups-data-table-text:rtl {
	padding: 0 0 0.467em 0.333em;
}

/* Device Top Data (Status/Alarm) */
.walnut-ups-top-data-box {

}

.walnut-ups-top-data-status-box {
	padding: 0em;
}

.walnut-ups-top-data-alarm-box {
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
}

.walnut-ups-top-data-icon {
	icon-size: 3.3em;
}

.walnut-ups-top-data-label {
	font-weight: bold;
}

.walnut-ups-top-data-text {

}

/* Device manufacturer/model */
.walnut-ups-model {
	text-align: center;
	font-weight: bold;
}

/* Error Box */
.walnut-error-icon {
	icon-size: 3.3em;
}

.walnut-error-icon:ltr {
	padding-right: 0.625em;
}

.walnut-error-icon:rtl {
	padding-left: 0.625em;
}

.walnut-error-label {
	font-weight: bold;
}

.walnut-error-desc {

}

/* walNUT Menu*/
.walnut-menu {
	min-width: 24em;
}

/* std gnome: 1em -> 15px (11pt) */
