/* Reset StEntry to our needs */
.walnut-menu StEntry {
	border-width: 0;
	border-style: none;
	border-radius: 0;
	box-shadow: 0 1px #1c1f1f;
}

.walnut-menu StEntry:focus {
	box-shadow: 0 1px rgba(154, 154, 142, 0.5);
}

.walnut-gs-3-10.walnut-menu StEntry,
.walnut-gs-3-12.walnut-menu StEntry,
.walnut-gs-3-14.walnut-menu StEntry {
	box-shadow: none;
}

/* Credentials Dialog */
.walnut-cred-dialog {
	min-width: 33.34em;
}

.walnut-cred-dialog-icon {
	icon-size: 5.44em;
}

.walnut-cred-dialog-headline {
	text-align: right;
}

.walnut-cred-dialog-description {
	text-align: right;
}

.walnut-cred-dialog-table {
	spacing: 1em;
}

.walnut-cred-dialog-table-column {
	spacing: .5em;
}

.walnut-cred-dialog-error-box {
	padding-top: 1em;
	spacing: .333em;
}

.walnut-cred-dialog-error-icon {
	icon-size: 1.63em;
}

.walnut-cred-dialog-error-label {
	font-size: .818em;
}

/* Delete Device Box */
.walnut-delbox-icon {
	icon-size: 4.35em;
}

.walnut-delbox-icon:ltr {
	padding: 0 .666em 0 0;
}

.walnut-delbox-icon:rtl {
	padding: 0 0 0 .666em;
}

.walnut-delbox-desc {
	font-weight: bold;
	padding: .333em;
	text-align: right;
}

.walnut-delbox-text {
	padding: .333em;
	text-align: right;
}

.walnut-delbox-buttons-box {
	spacing: .333em;
	padding: .333em;
}

/* Credentials Box */
.walnut-credbox-icon {
	icon-size: 4.35em;
}

.walnut-credbox-icon:ltr {
	padding: 0 .666em 0 0;
}

.walnut-credbox-icon:rtl {
	padding: 0 0 0 .666em;
}

.walnut-credbox-desc {
	font-weight: bold;
	padding: .333em;
	text-align: right;
}

.walnut-credbox-username {
	width: 5.333em;
	padding: 0 .333em;
}

.walnut-credbox-password {
	width: 5.333em;
	padding: 0 .333em;
}

.walnut-credbox-buttons-box {
	spacing: .333em;
	padding: .333em;
}

/* Add Device Box*/
.walnut-addbox-icon {
	icon-size: 4.35em;
}

.walnut-addbox-icon:ltr {
	padding: 0 .666em 0 0;
}

.walnut-addbox-icon:rtl {
	padding: 0 0 0 .666em;
}

.walnut-addbox-desc {
	font-weight: bold;
	padding: .333em;
	text-align: right;
}

.walnut-addbox-host {
	width: 7.33em;
	padding: 0 .333em;
}

.walnut-addbox-port {
	width: 3.333em;
	padding: 0 .333em;
}

.walnut-addbox-buttons-box {
	spacing: .333em;
	padding: .333em;
}

/* Buttons */
.walnut-buttons-small {
	padding: 3px;
}

.walnut-buttons-big {

}

.walnut-buttons-small:hover,
.walnut-buttons-small:focus {
	padding: 4px;
}

.walnut-gs-3-12 .walnut-buttons-small:hover,
.walnut-gs-3-12 .walnut-buttons-small:focus,
.walnut-gs-3-14 .walnut-buttons-small:hover,
.walnut-gs-3-14 .walnut-buttons-small:focus {
	padding: 5px;
}

.walnut-buttons-big:insensitive,
.walnut-buttons-small:insensitive {
	border-color: #666666;
	color: #9f9f9f;
	background-color: rgba(102, 102, 102, .15);
}

/* Setvar */
/* Common */
.walnut-setvar-buttons-box {
	spacing: .333em;
}

/* Ranges */
.walnut-setvar-range-actual {
	font-weight: bold;
}

/* Strings */
.walnut-setvar-string-entry {
	max-width: 8em;
	padding: 0 .333em;
}

.walnut-setvar-string-error-icon {
	icon-size: 1em;
}

.walnut-setvar-string-error-text {
	font-size: .818em;
}

/* Device commands */
.walnut-cmd-extradata-label {
	font-weight: normal;
}

.walnut-cmd-extradata {
	width: 5.333em;
	font-weight: normal;
	padding: 0;
}

.walnut-gs-3-10 .walnut-cmd-extradata,
.walnut-gs-3-12 .walnut-cmd-extradata,
.walnut-gs-3-14 .walnut-cmd-extradata {
	background-color: rgba(0, 0, 0, .3);
}

/* Device Top Data (Status/Alarm) */
.walnut-ups-top-data-box {

}

.walnut-ups-top-data-status-box {
	padding: 0em;
}

.walnut-ups-top-data-alarm-box {
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
}

.walnut-ups-top-data-label {
	font-weight: bold;
}

.walnut-ups-top-data-text {

}

/* Device manufacturer/model */
.walnut-ups-model {
	text-align: center;
	font-weight: bold;
}

/* Error Box */
.walnut-error-icon {
	icon-size: 3.3em;
}

.walnut-error-icon:ltr {
	padding-right: .625em;
}

.walnut-error-icon:rtl {
	padding-left: .625em;
}

.walnut-error-label {
	font-weight: bold;
}

.walnut-error-desc {

}

/* walNUT Menu*/
.walnut-menu {
	min-width: 24em;
}

/* std gnome: 1em -> 15px (11pt) */
